/*HEADER*/
.encab-pag{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 217, 0);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.logo img{
    height: 60px;
}

.encab-pag .logo{
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.encab-pag .nav-principal-left{
    float: left;
}
.encab-pag .nav-principal-right{
    float: left;
}

.nav-principal-left li{
    float: left;
    list-style-type: none;
    margin-right: 50px;
}

.nav-principal-right li{
    float: left;
    list-style-type: none;
    margin-left: 50px;
}

.nav-principal-left li a{
    color: #44627A;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    line-height: 80px;
}
.nav-principal-right li a{
    color: #44627A;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 80px;
}

.nav-principal-left li a:hover{
    color: #4C9ACC;
}
.nav-principal-right li a:hover{
    color: #4C9ACC;
}