body {
    margin: 0 auto;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}

p {
    font-size: small;
}

.row {
    display: flex;
    flex-flow: row;
    flex-grow: 4;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.col-sm {
    margin: 0;
    align-content: flex-start;
    flex-direction: row;
}

.col-md {
    margin: 10 auto;
    padding: 20px;
    text-align: left;
    flex-direction: column;
}

.article-image {
    margin-top: 3%;
    width: 200px;
    height: 200px;
}

img  {
    border-radius: 20%;
}

.article-image:hover {
    width: 225px;
    height: 225px;
}

img:hover {
    border: 1.5px solid orange;
}

.important-titles:hover {
    color: rgb(33, 101, 156);
}

.left-special {
    font-family: 'Raleway', sans-serif;
    color: rgb(87, 97, 97);
    padding: 2px;
    text-decoration: none;
}

.left-special > a {
    text-decoration: none;
}

.right-special {
    font-family: 'Raleway', sans-serif;
    color: orangered;
    margin: 0, 0;
    padding: 5px;
    text-decoration: none;
}

.right-special:hover {
    color: rgb(33, 101, 156);
}

.left-special:hover {
    color: rgb(33, 101, 156);
}

.special-icon {
    color:rgb(87, 97, 97);
}

.special-icon:hover{
    color: orangered;
}

.count {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.button-space{
    display: flex;
    padding: 2%;
    padding-left: 20%;
}

.breakout-button {
    font: inherit;
    font-weight: 600;
    padding: 0.6rem 2rem;
    background: rgb(18, 39, 78);
    color: white;
    border: 1px solid;
    transition: background 100ms ease;
    position: static;
  }
  
  .breakout-button,
  .breakout-button::before {
    cursor: pointer;
  }

  .breakout-button:focus {
    outline: none;
  }
  
  .breakout-button:hover {
    background: rgb(128, 187, 236);
    border: 1px solid rgb(87, 97, 97);
  }